@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
</div>

<div class="row">
    <div class="col-md-4">

    </div>
</div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.TextBox("cad", "", new { @class = "form-control" })
            <input type="submit" value="Buscar" class="btn btn-default" />
        </div>
    </div>

